/* Custom class to add left padding to the container */
.container-custom-padding {
    padding-left: 15px; /* Adjust the desired left padding size as needed */
}

.bg-primary-custom {
    background-color: #2d2d63;
    color: white;
    padding: 10px 0;
    /* background-color: #007bff!important; */
}


